body {
    margin: 0;
    font-family: sans-serif;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 75vh;
    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Text styles */
    text-align: center;
    color: #ffff;
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/black-woman-child.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    color: #ffff;
    font-size: 6em;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.2em;
}

.hero p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 0.1em;
}

.info-container {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-block {
    width: 33%;
    margin: 10px;
}

.text-block p {
    font-family: 'Thasadith', sans-serif;
    font-size: 2em;
    text-align: center;
}

/* CTA BUTTON */

.enter-btn {
    display: inline-block;
    /* Text Styles */
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    /* Margins */
    margin: 2px 0;
    margin-top: 1.5em;
    /* Borders */
    border: solid 1px transparent;
    border-radius: 4px;
    outline: none;
    /* Sizing */
    padding: 1em 3em;
    /* Colors */
    color: #ffffff;
    background-color: #26C485;
}

.enter-btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.enter-btn:hover {
    color: #26C485;
    border-color: currentColor;
    background-color: white;
}