
@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Thasadith|Montserrat|Roboto');
/* Global styles */

main {
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover,
a button {
    cursor: pointer;
}

/* Reset Button */

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

/* Nav Styles */

nav ul li {
    list-style: none;
}

.navbar {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    color: #FF8E72;
    font-family: 'Thasadith', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

nav ul li:hover {
    color: #D64244;
}

/* Header Styles */

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.logo {
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    color: #26C485;
}

/* logo image */

.h-logo {
    position: absolute;
    left: 0;
    top: 0;
}

/* class styles */

.yellow {
    color: #ECC30B;
    text-decoration: underline;
}

.green {
    color: #26C485;
}

.bold {
    font-size: 16px;
}

.blue {
    color: #84BCDA;
}

.white {
    color: #ffffff;
}

.blue-fill {
    background-color: #84BCDA;
}

.orange-fill {
    background-color: #F37748;
}

.red-fill {
    background-color: #D56062;
}